<article class="post">
    <div class="title">
        <h2>{{title}}</h2>
        <h3>By {{user_id}}</h3>
    </div>
    <div class="content">
        <span>{{content}}</span>
    </div>
    <div class="comments">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>