<a href="/dashboard"> &larr; Back to dashboard</a>

<!--can edit post title OR content-->
<h2>
    Edit Post
</h2>
<form class="edit-post-form">
    <div>
        <h4>Edit Title</h4>
        <input name="post-title" type="text" value="{{post.title}}" />
        <h4>Edit Content</h4>
        <input name="post-content" type="text" value="{{post.content}}" />
    </div>
    <div>
        <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
</form>
</article>

<!--can add new comments-->
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>

<!--show all existing comments-->
{{> comments post.comments}}